<%= stylesheet_link_tag "header"%>
<div class="header_container">
  <%= image_tag "shared/logo.png", :class => "logo_report" %>
  <div class="patient_info_container">
    <p class="first_line">Dr. Clériston Domingues</p>
    <p class="second_line">
      Imunologia Clínica e Alergia – CRM/MA 6138
    </p>
    <div class="third_container">
      <%= image_tag "shared/whatsapp.png", :class => "logo_whatsapp" %>
      <p class="third_line">Contato: (98) 98411-1421</p>
    </div>
    <p class="forth_line">e-mail: alergodoc@gmail.com</p>
  </div>
</div>