<%= stylesheet_link_tag "stamp"%>
<div class="stamp_container">
  <p class="stamp_name">Dr. Clériston Domingues</p>
  <p class="stamp_description_row">Imunologia Clínica e Alergia</p>
  <p class="stamp_description_row">CRM-MA 6138</p>
</div>